*{
		margin:0px;
		padding: 0px;
	}
	h1{
		margin:35px; 
	}
	.box1{
		width:762px;
		text-indent: 35px;
		margin-left: 35px;
		line-height: 40px;
	}
	.box2{
		width:762px;
		
		margin-left: 35px;
		line-height: 40px;
	}
	.box2 ul{
		margin-left: 20px;
	}