*{margin: 0px;
		padding: 0px;
		list-style: none;
		/*border: 1px solid red;*/
		}
		#top{
			width: 100%;
			height: 45px;
			background-color: #232323;
			margin: 0px auto;
		}

			/*顶部*/

		.hlogo{
			width:1300px;
			height: 169px;
			margin: auto;
	
		}/*导航栏*/
		.hlogo img{
		float:left;
		}
		.hlogo ul{
		float: left;
		width:1000px;
		height: 164px;
		/*margin-left: 100px;*/
		
			
		}
		.hlogo ul li{
			float:left;
			width:190px;
			text-align: center;
			line-height: 164px;
		
			letter-spacing:6px;/*字间距*/
			font-size: 30px;
		}
		.hlogo ul li a{color: #686868;
		text-decoration: none;/*去下划线*/
		width:164px;
		height: 50px;
		}
		.hlogo ul li a:hover {
			color: lightsteelblue;
	
		}